@use "../abstracts" as *;
@use "../util" as *;

.container {
    @include flexCenter(flex, center, center, column);
    min-height: 100vh;
    width: 100%;
    padding: 2em;

    @include breakpoint(medium) {
        padding: 4em;
    }

    @include breakpoint(xlarge) {
        max-width: 1200px;
        margin-inline: auto;
    }

    .section-title {
        margin-block: 0.625em 0.8em;
        color: var(--titleColor);

        @include breakpoint(medium) {
            font-size: 2em;
        }
    }

    .section-paragraph {
        width: 100%;
        margin-bottom: 1em;
        color: var(--textColor);

        @include breakpoint(medium) {
            font-size: 1.25em;
        }
    }

    img {
        @include widthHeight(100%, 100%);
        object-fit: cover;
    }

    .tech-box{
        transition: 0.1s ease-in-out;
        border: 3px solid #184A8F;
        padding: 15px 10px;
        border-radius: 4px;
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;

        span{
            font-size: 0.8em;
        }
    }
    .tech-box:hover{
        cursor: pointer;
        outline: 3px solid #86b1ed;
        border: 0px solid #184A8F;
        // border-radius: 0px;
        // padding: 15px 15px;
    }
    .tech-img{
        margin-top: 5px;
        width: 35px !important;
        margin-right: 10px;
    }
}

.reveal {
    position: relative;
    transform: translateY(120px);
    opacity: 0;
    transition: all 2s ease;

    &.active {
        transform: translateY(0);
        opacity: 1;
    }
}
