@forward '_login';

.admin-main {
    &__options {
        display: flex;
        justify-content: center;
    }

    &__button {
        margin-right: 10px;
    }
}
.exp-box {
    .fetched-data {
        display: flex;
        justify-content: center;
        gap: 10px;
        &__heading {
            color: lightblue;
            font-weight: 700;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            margin: 20px;
        }

        &__each {
            width: 45%;
            padding: 0 10px 10px 10px;
            border: 1px solid white;
            border-radius: 5px;
            color: rgb(189, 190, 190);
            div {
                border-bottom: 1px solid rgba(255, 255, 255, 0.11);
                padding: 5px;
            }
            span {
                color: rgb(15, 224, 15);
            }

            .edit-div {
                display: flex;
                justify-content: space-between;
                align-items: end;
                &__btn-edit {
                    padding: 5px;
                    margin-top: 3px;
                    margin: 1px;
                }
                &__btn-delete {
                    padding: 5px;
                    margin-top: 3px;
                    border-color: red;
                    color: red;
                    margin: 1px;

                    &:hover {
                        background-color: red;
                        color: black;
                    }
                }
            }
        }
    }

    .btn {
        display: flex;
        justify-content: center;

        button {
            margin: 10px;

            padding: 10px;
        }
    }
    &__form {
        width: 80%;
        margin: 0 auto;
        .input-box {
            position: relative;
            margin-top: 1em;
            margin-bottom: 1em;
            color: var(--detailsColor);

            input,
            textarea {
                width: 100%;
                border: none;
                outline: none;
                border-bottom: 2px solid var(--subtitleColor);
                resize: none;
                background-color: transparent;
                color: var(--textColor);
            }

            label {
                position: absolute;
                left: 0;
                pointer-events: none;
                transition: 0.5s;
            }

            input,
            textarea,
            label {
                padding-block: 0.3125em;
                margin-block: 0.625em;
                font-size: 1em;
            }

            input:focus ~ label,
            input:valid ~ label,
            textarea:focus ~ label,
            textarea:valid ~ label {
                transform: translateY(-20px);
                color: var(--subtitleColor);
                font-size: 0.8em;
            }
        }
    }
}
